@import "~taro-ui-vue/dist/style/components/button.scss";
@import "~taro-ui-vue/dist/style/components/loading.scss";
@import "~taro-ui-vue/dist/style/components/tabs.scss";
@import "~taro-ui-vue/dist/style/components/input.scss";
@import "~taro-ui-vue/dist/style/components/icon.scss";
@import "~taro-ui-vue/dist/style/components/list.scss";
@import "~taro-ui-vue/dist/style/components/rate.scss";
@import "~taro-ui-vue/dist/style/components/checkbox.scss";
@import "~taro-ui-vue/dist/style/components/textarea.scss";
@import "~taro-ui-vue/dist/style/components/modal.scss";
@import "~taro-ui-vue/dist/style/components/radio.scss";
@import "~taro-ui-vue/dist/style/components/float-layout.scss";
@import "~taro-ui-vue/dist/style/components/toast.scss";
@import "~taro-ui-vue/dist/style/components/form.scss";
@import "~taro-ui-vue/dist/style/components/image-picker.scss";
@import "~taro-ui-vue/dist/style/components/input-number.scss";

.at-input::after{
  border-bottom: 0px;
}
.iconLeft{
  width: 60px;
  height: 60px;
}
.formitem{
  height: 113px;
  padding-left: 40px;
  padding-right: 20px;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}
.text-right{
  text-align: right;
  width: 100%;
}
view{
  font-size: rgba(51, 51, 51, 1);
}
.greycolor{
  color: rgb(200,200,200);
}
.at-float-layout {
  z-index: 10100 !important;
}